body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f5f5f5;
}

.session-title {}

.image-wrapper {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
